<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

<!--进行包扫描,创建controller层的对象 只要是指定的包与子包下面有@Controller的类
    都要被创建对象，且加入ioc容器中-->
    <context:component-scan base-package="com.lgl.controller"/>

    <!--注意，这里在选择mvc标签时，一定要选择最后的路径是/mvc的选项-->
    <!-- 这行配置可以替换掉上边的两行配置-->
    <mvc:annotation-driven/>

    <!--配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--定义页面路径的前缀-->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!--定义页面路径的后缀-->
        <property name="suffix" value=".jsp"/>
    </bean>


</beans>

